<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="assets/style.css">
    <link rel="alternate" type="application/atom+xml" title="{{site.title}}" href="/feed.atom">
  </head>

  <body>
    <header role="banner">
      <h1>{{title}}</h1>
    </header>

    <main class="content" role="main">
      {{ body }}
    </main>

    <footer>
      <a href="/feed.atom">Feed</a>
    </footer>

    <script src="/assets/vendor.js"></script>
    <script src="/assets/site.js"></script>
    {{#if page.script}}
      <script src="script.js"></script>
    {{/if}}
  </body>
</html>
