<nav role="navigation">
  {{#each posts}}
    <article>
      <header>
        <time datetime="{{iso-date this.date}}">
          {{longDate this.date}}
        </time>
        <h2>{{#link-to this.path}}{{this.title}}{{/link-to}}</h2>
      </header>

      <p>{{this.description}}</p>
    </article>
  {{/each}}
</nav>
